@font-face {
    font-family: GeveretLevin;
    src: url(//yarivfruend.com/Portfolio/neon/GveretLevin-Regular.ttf);
}

body {
    background-color: #111;
}

.container {
    text-align: center;
}

.neon-text {
    background-color: rgba(255, 0, 0, 0.04);
    box-shadow: 0 0 70px 20px rgba(255, 0, 0, 0.04);
    border-radius: 200px;
    padding: 10px 26px 116px 53px;
    margin: 20vh auto 0;
    font-family: 'GeveretLevin', sans-serif;
    font-size: 100px;
    letter-spacing: 2px;
    color: #ffd4a4;
    line-height: 0;
    filter: drop-shadow(0px 0px 13px #FB5D3A);
    -webkit-text-stroke: 6px rgba(255, 0, 0, 0.3);
    display: inline-block;
    position: relative;
    animation: glow 170ms ease infinite forwards;
}

@keyframes glow {
    0% {

    }
    50% {
        filter: drop-shadow(0px 0px 15px #FB5D3A);
    }
    100% {

    }
}